@import "../utils/variables.scss";

%card-basic {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 180px;
    margin: 30px 0;
    border-radius: 10px;
    color: white;

    &>p {
        padding: 2px;
        font-size: 15px;
        text-align: right;
    }

    &>img {
        width: 140px;
        align-content: center;
        align-self: center;
    }

    &>h3 {
        font-size: 25px;
        text-align: center;
        padding: 6px 0;
        width: 100%
    }
}

.pokeCard-bug {
    @extend %card-basic;
    border: 3px solid $bug;

    &>p {
        color: $bug;
    }

    &>h3 {
        background-color: $bug;
    }
}

.pokeCard-dark {
    @extend %card-basic;
    border: 3px solid $dark;

    &>p {
        color: $dark;
    }

    &>h3 {
        background-color: $dark;
    }
}

.pokeCard-dragon {
    @extend %card-basic;
    border: 3px solid $dragon;

    &>p {
        color: $dragon;
    }

    &>h3 {
        background-color: $dragon;
    }
}

.pokeCard-electric {
    @extend %card-basic;
    border: 3px solid $electric;
    color: black;

    &>p {
        color: $electric;
    }

    &>h3 {
        background-color: $electric;
    }
}

.pokeCard-fairy {
    @extend %card-basic;
    border: 3px solid $fairy;

    &>p {
        color: $fairy;
    }

    &>h3 {
        background-color: $fairy;
    }
}

.pokeCard-fighting {
    @extend %card-basic;
    border: 3px solid $fighting;

    &>p {
        color: $fighting;
    }

    &>h3 {
        background-color: $fighting;
    }
}

.pokeCard-fire {
    @extend %card-basic;
    border: 3px solid $fire;

    &>p {
        color: $fire;
    }

    &>h3 {
        background-color: $fire;
    }
}

.pokeCard-flying {
    @extend %card-basic;
    border: 3px solid $flying;

    &>p {
        color: $flying;
    }

    &>h3 {
        background-color: $flying;
    }
}

.pokeCard-ghost {
    @extend %card-basic;
    border: 3px solid $ghost;

    &>p {
        color: $ghost;
    }

    &>h3 {
        background-color: $ghost;
    }
}

.pokeCard-grass {
    @extend %card-basic;
    border: 3px solid $grass;

    &>p {
        color: $grass;
    }

    &>h3 {
        background-color: $grass;
    }
}

.pokeCard-ground {
    @extend %card-basic;
    border: 3px solid $ground;

    &>p {
        color: $ground;
    }

    &>h3 {
        background-color: $ground;
    }
}

.pokeCard-ice {
    @extend %card-basic;
    border: 3px solid $ice;
    color: black;

    &>p {
        color: $ice;
    }

    &>h3 {
        background-color: $ice;
    }
}

.pokeCard-normal {
    @extend %card-basic;
    border: 3px solid $normal;

    &>p {
        color: $normal;
    }

    &>h3 {
        background-color: $normal;
    }
}

.pokeCard-poison {
    @extend %card-basic;
    border: 3px solid $posion;

    &>p {
        color: $posion;
    }

    &>h3 {
        background-color: $posion;
    }
}

.pokeCard-psychic {
    @extend %card-basic;
    border: 3px solid $psychic;

    &>p {
        color: $psychic;
    }

    &>h3 {
        background-color: $psychic;
    }
}

.pokeCard-rock {
    @extend %card-basic;
    border: 3px solid $rock;

    &>p {
        color: $rock;
    }

    &>h3 {
        background-color: $rock;
    }
}

.pokeCard-steel {
    @extend %card-basic;
    border: 3px solid $steel;

    &>p {
        color: $steel;
    }

    &>h3 {
        background-color: $steel;
    }
}

.pokeCard-water {
    @extend %card-basic;
    border: 3px solid $water;

    &>p {
        color: $water;
    }

    &>h3 {
        background-color: $water;
    }
}