.header{
    min-height:16vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &>a {
        text-decoration: none;
        color: black;
    }

    &>a:hover {
        transform: scale(1.2);
    }
}