* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $dark-blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}